

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username, 'Username:' %><br>
    <%= f.text_field :username, size: 40 %>
  </div>

  <div class="field">
      <%= f.label :email, 'Email:' %><br>
      <%= f.email_field :email, size: 40 %>
  </div>
  <div class="field">
      <%= f.label :password, 'Password:' %><br>
      <%= f.password_field :password, size: 40 %>
  </div>

<!--   what with password_confirmation??? -->
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm password' %><br>
    <%= f.password_field :password_confirmation, size: 40 %>
  </div>

  <div class="actions">
    <%= f.submit "Create my account", class: "btn btn-warning"%>
  </div>

<% end %>

