<p id="notice"><%= notice %></p>


  <%= gravatar_for @user %>
  <p><strong>Username:
  <%= @user.username %></strong>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path %> |
<%= link_to 'Back', login_path %> | <%= link_to 'Home', todo_lists_path %>
