<!DOCTYPE html>
<html>
<head>
  <title>Todolists</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>
<body>
  <% flash.each do |key, value| %>
       <p id='<%= key %>'><%= value %></p>
  <% end %>

	<% if signed_in? %>
	  <div style='float: right;'>
	    Logged in as user: <b> <%= current_user.username %></b>  |
	    <%= link_to "Logout", logout_path, method: :delete %>

	  </div>

	<% end %>
	<%= render 'layouts/header' %>
	<div class='container'>
    
    <%= yield %>
    <%= render 'layouts/footer'%>
    <%= debug(params) if Rails.env.development? %>
	  
	</div>

</body>
</html>
